$black: #000;
$white: #fff;
$light-white: #e3e3e3;
$almost-white: #f9f9f9;
$light-white-2: #e5e5e5;
$grey: #aaa;
$light-grey: #a3a3a3;
$green: #00ab58;
$blue: #0969A2;
$dark-blue: #0B3D82;
$dark-grey: #333;
$dark-grey-2: #555;
$dark-grey-3: #3A3A3A;
$dark-grey-4: #282828;
$gold: #D4771C;
